**/__pycache__
**/_cache_
**/tests
.env
daily_count.txt
.VSCodeCounter
src/facts/new_fact.txt
src/facts/facts_list.md
src/facts/island_fact.json
src/facts/added_trivia.json
src/embed_sender/embed.json
