**/__pycache__
**/_cache_
**/tests
**/old_welcome_img
.env
.VSCodeCounter
src/facts/new_fact.txt
src/embed_sender/embed.json
src/new_member/new_member_img/user_pfp.png
**/env
**/venv
src/ticket/db/ticket_data.db
src/ticket/db/ticket_ban_id.json
src/ticket/db/transcript
src/ticket/db/ticket_cooldown.json
src/facts/daily_count.txt
